.address-display{
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 300px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 4px;
    background-color:var( --light-shadow-bg) ;
}
/* --google-blue-100: rgb(210, 227, 252);
--google-blue-300: rgb(138, 180, 248);
--google-blue-600: rgb(26, 115, 232); */

.react-datepicker__input-container {
    position:static !important
}
.circle{
    /* position: relative; */
    display: flex;
    border: 10px solid;
    border-top-color: rgb(162, 219, 255);
    border-left-color: rgb(73, 216, 235);
    border-bottom-color:rgb(162, 219, 255);
    border-right-color: rgb(73, 216, 235);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.circle__child{
    position: absolute;
    margin: auto;
    color: rgb(61, 176, 247);
    font-size: 2rem;
    font-weight: 800;
}
.circle__background{
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 8px;;
    width: 110px;

    
}
.daYIyU{

 width:100px;    
 height: 100px;    
 animation: 0.25s ease 0s 1 normal none running fvdeWE;
}
.fMbHqz {
    position: relative;
    border-radius: 9999px;
    border: 4px solid white;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 8px;
    width: 100%;
    height: 100%;
    background: white;
}
.fMbHqz > svg {
    position: absolute;
    top: 0px;
    left: 0px;
}
.fMbHqz, .donut-hole {
    fill: white;
}
.fMbHqz, .donut-ring {
    stroke: rgb(162, 219, 255);
    fill: transparent;
    stroke-width: 5;
}
.fMbHqz, .donut-segment {
    transform-origin: center center;
    stroke-dashoffset: 25;      
    animation: 2s ease 0s 1 normal forwards running donut2;
    fill: transparent;
    stroke-width: 5;
}

.results-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--nav-color);
    margin: auto;
    margin-block: 5rem;
    /* padding: 1rem; */
    padding-top: 0;
    width: 90%;
    max-width: 1500px;
    min-height: 10rem;
    box-shadow: inset 0px 0px 9px 5px rgba(27,26,47,0.14);
    box-shadow: inset 0px 0px 9px 5px rgba(61,176,247,0.14);
    box-shadow: inset 0px 0px 3px 5px rgba(61,176,247,0.38);
    /* box-shadow: inset 0px 0px 3px 5px rgba(33, 95, 133, 0.38); */


}
.results-box__header{
    background-color: aqua;
    height: 2rem;
    width: 100%;
}
.delete_icon{
    color: #ef4423;
    cursor: pointer;
}
.delete_icon:hover{
    color: #761f0e;

}
.telephone_update_component{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.user-form--telephone{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.user-form--telephone--button{

}
.b3--small{
    max-height: 40px;
    padding: 8px 5px !important;
}

.ddUpload{
    padding: 1rem;
    text-align: center;
    padding-bottom: 2rem;
    max-width: 1700px;
    margin-inline: auto;
}


.ddUpload--button{
    /* position: absolute; */
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.ddUpload--button:hover{
  background-color: #F082AC;
}