<div
  data-vc-full-width="true"
  data-vc-full-width-init="false"
  class="vc_row wpb_row vc_row-fluid overflow-fix vc_custom_1602766404945 vc_custom_1602766404946 vc_custom_1602766404947 vc_row-has-padding-bottom vc_row-bg-position-top"
>
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1601461951542">
      <div class="wpb_wrapper">
        <div
          class="vc_row wpb_row vc_inner vc_row-fluid vc_row-bg-position-top"
        >
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="key-icon-box icon-default icon-top cont-center ib-hover-1 with-border icon-with-background icon-no-border kd-animated fadeInUp"
                  style="
                    background-color: transparent;
                    border: 1px solid #e7e7e7;
                    margin-bottom: 30px;
                  "
                >
                  <div
                    class="ib-wrapper"
                    style="
                      padding-top: 45px;
                      padding-bottom: 50px;
                      padding-left: 60px;
                      padding-right: 60px;
                    "
                  >
                    <div
                      class="ib-icon-wrapper"
                      style="width: 60px; height: 60px; margin-bottom: 40px"
                    >
                      <i class="fas fa-mobile-alt" style=""></i>
                    </div>

                    <h4 class="service-heading">Mobile Application</h4>
                    <p>
                      DocNect maximizes the chance of a smoother practice with
                      the 1st Mobile Application in the market.<br />

                      now you can use your smart phone or tablet during the
                      operation, and use your voice to add notes and more.
                      Endless Possibilities.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="key-icon-box icon-default icon-top cont-center ib-hover-1 with-border icon-with-background icon-no-border kd-animated fadeInUp"
                  style="
                    background-color: transparent;
                    border: 1px solid #e7e7e7;
                    margin-bottom: 30px;
                  "
                  data-animation-delay="200"
                >
                  <div
                    class="ib-wrapper"
                    style="
                      padding-top: 45px;
                      padding-bottom: 50px;
                      padding-left: 60px;
                      padding-right: 60px;
                    "
                  >
                    <div
                      class="ib-icon-wrapper"
                      style="width: 60px; height: 60px; margin-bottom: 40px"
                    >
                      <i class="fas fa-comment-dots" style=""></i>
                    </div>
                    <h4 class="service-heading">WhatsApp-BOT</h4>
                    <p>
                      DocNect provides you the WhatsApp-BOT that automatically
                      answers your patients' questions and let them make online
                      reservations, be able to get a copy of their teeth chart,
                      prescriptions, or invoices. Saving your time for more
                      important stuff.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="key-icon-box icon-default icon-top cont-center ib-hover-1 with-border icon-with-background icon-no-border kd-animated fadeInUp"
                  style="
                    background-color: transparent;
                    border: 1px solid #e7e7e7;
                    margin-bottom: 30px;
                  "
                  data-animation-delay="400"
                >
                  <div
                    class="ib-wrapper"
                    style="
                      padding-top: 45px;
                      padding-bottom: 50px;
                      padding-left: 60px;
                      padding-right: 60px;
                    "
                  >
                    <div
                      class="ib-icon-wrapper"
                      style="width: 60px; height: 60px; margin-bottom: 40px"
                    >
                      <i class="fas fa-building" style=""></i>
                    </div>
                    <h4 class="service-heading">Insurance Companies</h4>
                    <p>
                      DocNect ends this, and developed a tool that organizes
                      insurance companies, sets price-lists &amp; discounts for
                      every single insurance company profile, linked to
                      patient's profile directly, you can follow up your
                      accounts. Claimed &amp; unclaimed.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="vc_row wpb_row vc_inner vc_row-fluid vc_row-bg-position-top"
        >
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="key-icon-box icon-default icon-top cont-center ib-hover-1 with-border icon-with-background icon-no-border kd-animated fadeInUp"
                  style="
                    background-color: transparent;
                    border: 1px solid #e7e7e7;
                    margin-bottom: 30px;
                  "
                >
                  <div
                    class="ib-wrapper"
                    style="
                      padding-top: 45px;
                      padding-bottom: 50px;
                      padding-left: 60px;
                      padding-right: 60px;
                    "
                  >
                    <div
                      class="ib-icon-wrapper"
                      style="width: 60px; height: 60px; margin-bottom: 40px"
                    >
                      <i class="fas fa-users-cog" style=""></i>
                    </div>
                    <h4 class="service-heading">Staff Performance</h4>
                    <p>
                      DocNect has developed a tool to help manage your staff,
                      measure performances, and track Working Hours, Operations,
                      Created Invoices, Referrals, and more. With graphs for
                      every employee or comparisons among them.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="key-icon-box icon-default icon-top cont-center ib-hover-1 with-border icon-with-background icon-no-border kd-animated fadeInUp"
                  style="
                    background-color: transparent;
                    border: 1px solid #e7e7e7;
                    margin-bottom: 30px;
                  "
                  data-animation-delay="200"
                >
                  <div
                    class="ib-wrapper"
                    style="
                      padding-top: 45px;
                      padding-bottom: 50px;
                      padding-left: 60px;
                      padding-right: 60px;
                    "
                  >
                    <div
                      class="ib-icon-wrapper"
                      style="width: 60px; height: 60px; margin-bottom: 40px"
                    >
                      <i class="fas fa-chart-pie" style=""></i>
                    </div>
                    <h4 class="service-heading">Analytics</h4>
                    <p>
                      DocNect provides you analytics module which will help you
                      making the right business decisions. From inventory stock,
                      incomes, expense, and staff performance, to patient
                      geographical distribution on map, gender, age and
                      referrals.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="key-icon-box icon-default icon-top cont-center ib-hover-1 with-border icon-with-background icon-no-border kd-animated fadeInUp"
                  style="
                    background-color: transparent;
                    border: 1px solid #e7e7e7;
                    margin-bottom: 30px;
                  "
                  data-animation-delay="400"
                >
                  <div
                    class="ib-wrapper"
                    style="
                      padding-top: 45px;
                      padding-bottom: 50px;
                      padding-left: 60px;
                      padding-right: 60px;
                    "
                  >
                    <div
                      class="ib-icon-wrapper"
                      style="width: 60px; height: 60px; margin-bottom: 40px"
                    >
                      <i class="far fa-bell" style=""></i>
                    </div>
                    <h4 class="service-heading">Notifications</h4>
                    <p>
                      Forgetting things could cause huge problems sometimes.
                      DocNect is the first to develop Notification System, a
                      system that limits human errors and helps you never
                      forgetting anything again. It notifies your team before
                      and after every important step.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="kd-shapes shape_dots with-parallax kd-animated fadeInUp"
          style="top: 200px; right: -43px; width: 172px; height: 157px"
          data-parallax-speed="0.1"
          data-animation-delay="400"
        ></div>
        <div
          class="kd-shapes shape_dots with-parallax kd-animated fadeInUp"
          style="bottom: 50px; left: -72px; width: 172px; height: 340px"
          data-parallax-speed="0.1"
          data-animation-delay="400"
        ></div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
<div
  data-vc-full-width="true"
  data-vc-full-width-init="false"
  data-vc-stretch-content="true"
  class="vc_row wpb_row vc_row-fluid vc_custom_1647520580657 vc_row-bg-position-top"
>
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1644320146366">
      <div class="wpb_wrapper">
        <div
          style="background-color: #734597 !important"
          class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1647530012856 vc_custom_1647530012857 vc_row-has-fill vc_row-has-padding-top vc_row-has-padding-bottom vc_row-main-color-overlay vc_row-bg-position-top vc_inner_row-contained"
        >
          <div class="container">
            <div
              class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-offset-0 vc_col-sm-offset-0"
            >
              <div
                class="vc_column-inner vc_custom_1599490243577 vc_custom_1599490243578 vc_custom_1599490243579 vc_custom_1599490243580"
              >
                <div class="wpb_wrapper"></div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6">
              <div class="vc_column-inner vc_custom_1599490309131">
                <div class="wpb_wrapper">
                  <header
                    class="kd-section-title col-lg-12 text-center subtitle-below-title kd-animated fadeIn vc_custom_1647520495858"
                    data-animation-delay="200"
                  >
                    <h2 class="separator_off" style="color: #ffffff">
                      Try DocNect today
                    </h2>
                    <h6 class="subtitle" style="color: #e2e2e2">
                      We will call you within 24 hours.
                    </h6>
                  </header>
                  <a
                    href="https://DocNect.com/demo/"
                    target="_self"
                    title="Demo Request"
                    style="background-color: black"
                    class="tt_button tt_primary_button btn_primary_color button-center button-action-link"
                    ><span class="prim_text">Try today</span></a
                  >
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-3">
              <div class="vc_column-inner"><div class="wpb_wrapper"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_row-full-width vc_clearfix"></div>
<div
  data-vc-full-width="true"
  data-vc-full-width-init="false"
  class="vc_row wpb_row vc_row-fluid vc_custom_1643650672822 vc_row-has-fill vc_row-has-padding-top vc_row-has-padding-bottom vc_row-bg-position-top vc_row-main-color-overlay"
>
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner">
      <div class="wpb_wrapper">
        <header
          class="kd-section-title col-lg-12 text-center solid-line sep-border-width-1 subtitle-below-title kd-animated fadeIn vc_custom_1654871707912"
          data-animation-delay="200"
        >
          <div class="kd-separator above_title">
            <div class="kd-separator-line"></div>
          </div>
          <h2 class="separator_on" style="font-size: 38px; margin-bottom: 30px">
            Manage your Clinic on Mobile
          </h2>
          <h6 class="subtitle">
            Control your clinic anywhere while you're on the move with DocNect
            for Android, iOS and Huawei.
          </h6>
        </header>
        <div
          class="vc_row wpb_row vc_inner vc_row-fluid vc_row-bg-position-top"
        >
          <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-6">
            <div class="vc_column-inner vc_custom_1656503650622">
              <div class="wpb_wrapper">
                <div
                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_slideInUp slideInUp"
                >
                  <figure class="wpb_wrapper vc_figure">
                    <a
                      href="https://play.google.com/store/apps/details?id=com.DocNect.DocNect"
                      target="_blank"
                      class="vc_single_image-wrapper vc_box_border_grey"
                      ><img
                        width="281"
                        height="84"
                        src="https://DocNect.com/wp-content/uploads/2022/03/google-play-badge.png"
                        class="vc_single_image-img attachment-medium"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        title="GET IT ON Google Play"
                    /></a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-xs-6">
            <div class="vc_column-inner vc_custom_1656503659055">
              <div class="wpb_wrapper">
                <div
                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_slideInUp slideInUp"
                >
                  <figure class="wpb_wrapper vc_figure">
                    <a
                      href="https://apps.apple.com/eg/app/DocNect/id1612892336"
                      target="_blank"
                      class="vc_single_image-wrapper vc_box_border_grey"
                      ><img
                        width="252"
                        height="84"
                        src="https://DocNect.com/wp-content/uploads/2022/03/download-on-the-app-store-badge-1.png"
                        class="vc_single_image-img attachment-medium"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        title="Download on the App Store"
                    /></a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div
            class="huawei-download wpb_column vc_column_container vc_col-sm-4"
          >
            <div class="vc_column-inner">
              <div class="wpb_wrapper">
                <div
                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_slideInUp slideInUp"
                >
                  <figure class="wpb_wrapper vc_figure">
                    <a
                      href="https://appgallery.huawei.com/app/C106406329"
                      target="_blank"
                      class="vc_single_image-wrapper vc_box_border_grey"
                      ><img
                        width="300"
                        height="90"
                        src="https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-300x90.png"
                        class="vc_single_image-img attachment-medium"
                        alt=""
                        decoding="async"
                        loading="lazy"
                        title="huawei-Badge-Black"
                        srcset="
                          https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-300x90.png    300w,
                          https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-800x240.png   800w,
                          https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-1024x307.png 1024w,
                          https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-768x231.png   768w,
                          https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-1536x461.png 1536w,
                          https://DocNect.com/wp-content/uploads/2022/06/huawei-Badge-Black-2048x615.png 2048w
                        "
                        sizes="(max-width: 300px) 100vw, 300px"
                    /></a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
