<footer
id="footer"
class="fixed underline-effect"
style="background-color: #734597; color:white  "
      
>
<div class="upper-footer" style="background-color: #734597">
  <div class="container">
    <div class="footer-bar">
      <div class="footer-nav-menu">
        <ul id="menu-footer-menu" class="navbar-footer">
          <li
            id="menu-item-9692"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-9692"
          >
            <a href="https://DocNect.com/" aria-current="page">Home</a>
          </li>
          <li
            id="menu-item-9693"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9693"
          >
            <a href="https://DocNect.com/about/">About DocNect</a>
          </li>
          <li
            id="menu-item-9694"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9694"
          >
            <a href="https://DocNect.com/contact/">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-socials-bar">
        <ul class="redux-social-media-list clearfix">
          <li>
            <a target="_blank" href="https://www.facebook.com/DocNect"
              ><i class="fab fa-facebook-square"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.youtube.com/channel/UCV8XRh15HhIp673X7gyWu2g"
              ><i class="fab fa-youtube"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-widget-area">
      <div
        class="first-widget-area footer-widget-column col-xs-12 col-sm-12 col-md-4 col-lg-4 text-left"
      >
        <div id="text-13" class="footer_widget widget widget_text">
          <h5 class="widget-title"><span>DocNect</span></h5>
          <div class="textwidget">
            <p>Everything you need to manage your \\\\\\ clinic.</p>
          </div>
        </div>
      </div>

      <div
        class="second-widget-area footer-widget-column col-xs-12 col-sm-12 col-md-2 col-lg-2 text-left"
      ></div>

      <div
        class="third-widget-area footer-widget-column col-xs-12 col-sm-12 col-md-2 col-lg-2 text-left"
      >
        <div id="nav_menu-11" class="footer_widget widget widget_nav_menu">
          <h5 class="widget-title"><span>Partners</span></h5>
          <div class="menu-partners-container">
            <ul id="menu-partners" class="menu">
              <li
                id="menu-item-10620"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10620"
              >
                <a href="https://alex.technesummit.com/2022">Techne Summit</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="fourth-widget-area footer-widget-column col-xs-12 col-sm-12 col-md-2 col-lg-2 text-left"
      >
        <div id="nav_menu-12" class="footer_widget widget widget_nav_menu">
          <h5 class="widget-title"><span>Resources</span></h5>
          <div class="menu-resources-container">
            <ul id="menu-resources" class="menu">
              <li
                id="menu-item-10453"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10453"
              >
                <a href="">Releases &#038; Updates</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="fifth-widget-area footer-widget-column col-xs-12 col-sm-12 col-md-2 col-lg-2 text-left"
      >
        <div
          id="custom_html-4"
          class="widget_text footer_widget widget widget_custom_html"
        >
          <h5 class="widget-title"><span>Contact</span></h5>
          <div class="textwidget custom-html-widget">
            Some address.
            <br />
            Cairo, Egypt<br />
            <a href="tel:+0102030405">+2 0102030405</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lower-footer copyright-center">
  <div class="container" style="background-color: #734597">
    <span>
      DocNect. All Rights Reserved.
      <a href="" target="_blank" rel="noopener">Terms of Use</a
      ><a href="" target="_blank" rel="noopener">Privacy Policy</a>
    </span>
  </div>
</div>
</footer> 