{% load static %}



<nav style="background-color:#734597;" 
class="navbar navbar-default navbar-fixed-top btn-hover-2 logo-left with-topbar with-topbar-mobile with-topbar-sticky nav-transparent-secondary-logo">
    <div class="topbar tb-border-design visible-on-mobile">
      <div class="container">
        <div class="topbar-left-content">
          <div class="topbar-socials">
            <ul class="redux-social-media-list clearfix">
              <li>
                <a target="_blank" href=""
                  ><i class="fab fa-facebook-square"></i
                ></a>
              </li>
              <li>
                <a target="_blank" href=""><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a target="_blank" href="#"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
 
        <div class="topbar-right-content">
          <div class="topbar-contact">
            <span class="topbar-phone"
              ><a href="tel:+020030404405"
                ><i class="sway-phone-topbar fas"></i
                ><span>+2 020030404405</span></a
              ></span
            ><span class="topbar-email"
              ><a href="mailto:info@DocNect.com"
                ><i class="sway-mail-topbar far"></i
                ><span>info@DocNect.com</span></a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  
    <div class="menubar main-nav-right">
      <div class="container">
        <div id="logo">
          <a class="logo" href="/">
            <img class="fixed-logo" src="{%static "imgs/logo.png" %}" width="40"alt="DocNect" /> 
            <img class="nav-logo" src="{%static "imgs/logo.png" %}" width="100" alt="DocNect" style="z-index: 100;position: absolute;" />
          </a>
        </div>
        <div class="navbar-header page-scroll">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#main-menu"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  
          <div class="mobile-cart"></div>
        </div>
        <div
          id="main-menu"
          class="collapse navbar-collapse background-dropdown-effect"
        >
          <ul id="menu-main-menu" class="nav navbar-nav">
            <li
              id="menu-item-9691"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-9691 active"
            >
              <a href="/">Home</a>
            </li>
            <li
              id="menu-item-9675"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9675"
            >
              <a href="/about">About DocNect</a>
            </li>
            
            <li
              id="menu-item-9515"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9515"
            >
              <a href="/contact/">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="main-nav-extra-content">
          <div class="search-cart-wrapper"></div>
          <div class="header-bttn-wrapper">
            <a
              class="modal-menu-item tt_button tt_primary_button btn_primary_color hover_solid_secondary"
              style="background-color: black"
              target="_self"
              href="http://localhost:3000/login"
              >Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
 