<html>
<head>
  <title>Homepage</title>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>
<body>
  <div id="login">ddddddddddddd</div>

  <script >
    const tokens = localStorage.getItem("authTokens")
    if (tokens){
      document.getElementById("login").innerHTML = "Welcome back, user!";
    }
  </script> 
</body>
</html>

{% comment %} 

$.ajax({
  type: 'POST',
  url: 'http://127.0.0.1:8000/aj/',
  data: {
    local_storage_token: localStorage.getItem("authTokens"),
    csrfmiddlewaretoken: '{{ csrf_token }}'
  },
  success: function(response) {
    console.log( localStorage.getItem("authTokens"));
    $("#status").html("Authenticated");
  }
}); {% endcomment %}