.registration-page {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin-bottom: 200px;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 700px) {
  .registration-page {
    display: flex;
    flex-direction: row;

    margin-bottom: 200px;
  }
}

.registration-choice {
  position: absolute;
  background-color: #f1f1f1;
  /* margin-top: 40px; */
  width: 100%;
  /* height: calc(100% - 40px); */
}

.spacer {
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-bottom: 4rem; */
  position: relative;
  z-index: 100;
}
.layer {
  background-image: url("../../assets/images/background.svg");
}
.seperator {
  background-image: url("../../assets/images/seperator4.svg");
  aspect-ratio: 700/450;
}
.page_top {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  gap: 1.6rem;
}
.page_title {
  color: white;
}
.page_subtitle {
  color: white;
}
.cards_section {
  display: flex;
  justify-content: space-evenly;
  padding-block: 5rem;
  width: 100%;
  margin-top: 20rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  z-index: 100;
  min-width: 290px;

  min-height: 350px;
  background-color: #fafafa;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;

  box-shadow: 0px 0px 24px 5px rgba(40, 39, 39, 0.6);
  -webkit-box-shadow: 0px 0px 24px 5px rgba(40, 39, 39, 0.6);
  -moz-box-shadow: 0px 0px 24px 5px rgba(40, 39, 39, 0.6);
}
.card img{
    width: 150px;
}

.registration_page_button {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 40px;
  border: 0;
  border-radius: 7px;
  width: 80%;
  color: #ffffff;
  max-width: 60rem;
  background-color: #a9459a;
  box-shadow: 4px 4px 9px -2px rgb(0 0 0 / 48%);
  text-decoration: none;
  text-align: center;
  padding-block: 10px;
}

.regsitration_choice--footer{
    height: 200px;
    width: 100%;
  background-color: #f1f1f1;

}