.registration-page{
    display: flex;
   flex-direction: column; 
    max-width: 70rem;
   margin-bottom: 200px;
   margin-inline: auto;
   align-items: center;
   justify-content: center;
} 
@media only screen and (min-width: 700px) {

    .registration-page{
        display: flex;
        flex-direction: row;

        margin-bottom: 200px;
    }

  }
