.record {
  background-color: rgba(212, 241, 251, 0.45);
  border: 1px solid var(--nav-color);
  border-radius: 5px;
  margin-block: 5px;
  
  position: relative;

}
.record__header {
  padding: 0.3rem;
  border-bottom: 1px solid rgba(53, 49, 49, 0.23);
  color: rgba(49, 47, 47, 0.601);
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 95%;
}
.record_body {
  padding: 0.4rem;
  line-height: 1.6;
  width: 95%;
}
.record__entry_container {
  margin-bottom: 0.6rem;
}
.record__entry_begining {
  color: rgba(0, 0, 0, 0.636);
  margin-right: 5px;
}
.records__actions_container {
  border-top: 1px solid purple;
  padding: 0.4rem;
  color: rgba(241, 73, 73, 0.746);
  width: 95%;
}

.record_entry {
  border: 2px solid rgba(72, 66, 66, 0.312);
  /* margin: 30px; */
  margin-inline: 10px;
  border-radius: 5px;
  padding: 0.7rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0;
}
.record_entry__input {
  width: 90%;
  border-radius: 4px;
  padding: 3px;
  line-height: 1.6;
  font-size: large;
  height: 20px;
  border: 1px solid #44c0c75e;
  resize: vertical;
  min-height: 40px;
}
.record_entry__input:focus {
  outline: 1px solid #2ab5bfa2;
}

.record_entry__footer {
  max-width: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 32px;

}
.record_display__buttons_container{
    height: 100%;
    position: absolute;
    width: 5%;
    right: 0px;
    top: 0px;
    border-left: 1px solid rgba(53, 49, 49, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #32898e82;
}
.action_button{
    cursor: pointer;
}
.action_button:hover{
    cursor: pointer;
    color: #1a4b4d82;
}
.action_button:active{
   color: #064045a8;

}


.record_entry__buttons {
  padding: 0.3rem;
  /* background-color: aliceblue; */
  cursor: pointer;
}
.record_entry__segment {
  display: flex;
}

.record_entry__button {
  background-color: #44c0c7;
  border-radius: 28px;
  border: 1px solid #44c0c7;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 5px 14px;
  text-decoration: none;
  /* text-shadow:0px 0px 0px #2f6627; */
}
.record_entry__button:hover {
  background-color: #2ab5bf;
}
.record_entry__button:active {
  position: relative;
  top: 1px;
}

.record_feed {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-inline: 10px;
  border: 1px solid;
  /* flex-grow: 1; */
  border-radius: 4px;
}
.record_layout {
  height: 100vh;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 7rem;
  margin-right: 0px;
  right: 0;
  height: 100%;
}
.record_sidebar {
  z-index: 0;
  width: 2000px;
}

.action_bar {
  display: flex;
  padding-inline: 10px;
  margin-bottom: 0.4rem;
  background-color: #44c0c7;
  min-height: 40px;
  align-items: center;
}
.action_bar__element {
  text-align: center;
  cursor: pointer;
  height: 100%;
  line-height: 40px;
  padding-inline: 1px;
  border-radius: 5px;
  /* color: rgb(54, 5, 103); */
color: rgba(255, 255, 255, 0.987);
  text-decoration: none;
  user-select: none;
}
.action_bar__element:hover {
  background-color: #2ab5bf;
}




.details_box {
  position: fixed;
  top: 0;
  width: 48.75rem;
  height: 65px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 100;
  color: rgb(0, 0, 0);
  -webkit-box-shadow:  0px -4px 12px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow:  0px -4px 12px -2px rgba(0, 0, 0, 1);
  box-shadow:  0px -4px 12px -2px rgba(0, 0, 0, 1);
  padding-inline: 0.9rem;
  padding-top: 0.2rem;
  line-height: 1.3;
  justify-content: center;
  color: rgb(102, 101, 101);
}
.details_box__component {
  display: flex;
  gap: 0.4rem;

}
.details_box__titles{
    font-weight: 600;
}

.clincal_tree{
    position: absolute;
    display: flex;
    height: 99vh;
    padding-inline: 1rem;       
    width: 7rem;
    background-color: var(--nav-sry--bg-color);
    left: 0;
    color: var(--nav-color);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px){
    .clincal_tree{
        display: none;
    }
    .details_box {
        position: relative;
        width: auto;
        flex-wrap: wrap;
     height: fit-content;
    box-shadow:  0px -2px 5px 0px rgba(0, 0, 0, 0.237);
    }
    .content{
        position: relative;
        left: 0;
    }
    .record{
        /* background-color: rgb(1, 1, 1); */
    }
    .record_body{
        width: 100%;

    }
    .record__header{
        width: 100%;
        
    }
    .records__actions_container{
        width: 100%;
    }
    .record_display__buttons_container{
  
        position: unset;

        height: auto;
        width: 100%;
        border-top:1px solid rgba(53, 49, 49, 0.23) ;
        min-height: 4vh;
        flex-direction: row;
    }
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
.record_feed{
    scrollbar-width: auto;
    scrollbar-color: #44c0c7 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .record_feed::-webkit-scrollbar {
    width: 16px;
  }

  .record_feed::-webkit-scrollbar-track {
    background: #ffffff;
  }
 .record_feed::-webkit-scrollbar-thumb {
    background-color: #44c0c763;
    border-radius: 7px;
    border: 3px solid #ffffff;
  }

  .record_feed::-webkit-scrollbar-thumb:active {
    background-color: #17393a63;
  }