.main-navbar{
    /* position: relative; */
    /* overflow: hidden; */

    position: fixed;
    top:30px;
    overflow-wrap: break-word;
    width: 100%;
    min-height: 2.7rem;
    max-height: 2.7rem;
    background-color: var(--color-dark-purple);
    background-color: #06367a;
    align-items: normal;
    min-width: 270px;
    z-index: 150;
    display: flex;
    justify-content: flex-end;
    box-shadow: var(--shallowShadow);
}
.main-navbar__links{
    height: 100%;
    /* float: inline-start; */

    /* display: flex; */
}
.navigation-menu {
    margin-left: auto;
    height: 2.7rem;
  }
.navlink_item {
    display: flex;
    background-color: inherit;
    /* max-width: 6.5rem; */
    font-size: large;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-inline: 7px;
    border-radius: 7px;
}
.navlink_item img{
  width: 20px;
  margin-inline-end: 3px;
}
.navlink_item a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
}
.navlink_item:hover{
    background-color: #052a5e;

}
.navlink_item a:active{
    text-decoration: none;
    color: inherit;

}
.navigation-menu ul {
    display: flex;
    padding: 0;
    height: 100%;

  }

.navigation-menu li {
    /* removes default disc bullet for li tags and applies margin to left & right side */
    list-style-type: none;

  }
.navigation-menu li a {
    /* increases the surface area of the anchor tag to span more than just the anchor text */
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .hamburger {
    /* // removes default border on button element */
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: rgba(117, 151, 179, 0.503);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: rgb(93, 125, 151);
  }

  @media screen and (max-width: 800px) {

    .main-navbar{
      top:70px;
    }
    .nav_content{
      justify-content: flex-start;
    }
    .main-navbar__links{
        height: auto;
        float: none;
        width: 100%;
    }
    .hamburger {
        display: block;
      }
      .navigation-menu ul {
        display: none;
        top: 100px;

        flex-direction: column;
        width: 100%;
        background-color: #fcfcfc;
        border-top: 1px solid black;
      }
      .navigation-menu.expanded ul {
    
        display: flex;
        align-items: start;
   

      }
      .navlink_item--expanded{
        display: flex;
        background-color: inherit;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.950);
        cursor: pointer;
        align-items: center;
        padding-block: .6rem;
        padding-inline-start: 3rem;

        
    }
    .navlink_item--expanded >* > button{
      font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.5;
      text-decoration: none;
      border: none;
      width: 100%;
      letter-spacing: 0;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      color: #3E5060;
    }

    .navlink_item--expanded > a {
      font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-weight: 700;
      font-size: 1.1rem;
      line-height: 1.5;
      text-decoration: none;
      border: none;
      width: 100%;
      letter-spacing: 0;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      color: #3E5060;
    }

      .navigation-menu li {
        /* // centers link text and strips off margin */
        text-align: start;
        margin: 0;
        width: 100%;

      }
      .navigation-menu li a {
        /* // increases the surface area of the anchor tag to span the full width of the menu */
        width: 100%;
      }
      .navigation-menu li:hover {
        background-color: #eee;
      }
  }
.main-sidebar{
    position: absolute;
    display: flex;
    height: 99vh;
    padding-inline: 1rem;       
    width: 7rem;
    background-color: var(--nav-sry--bg-color);
    left: 0;
    color: var(--nav-color);
    justify-content: center;
    align-items: center;
}



/* CSS */
.position{
  position: absolute;
  right: 11%;
  bottom: 12%;
}

.discard_button {
  background-color: #ec216f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.discard_button:hover,
.discard_button:focus {
  background-color: #F082AC;
}

@media screen and (max-width: 800px) {
  .position{
    display: none;
  }
  .discard_button{

  }
}
.entityPvPointer{
  /* background-color: red; */
  font-size: 1.8em;
}
 .nav_content{
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #1976d2; */
  cursor: pointer;
  text-decoration: none;
  gap: 3px;
 }