.main-navbar{
    /* position: fixed; */
    display: flex;
    top:2.7rem;
    left: 4.5rem;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    min-height: 3rem;
    background-color: rgb(151, 180, 203);
    justify-content: space-evenly;
    align-items: center;
    /* padding-block: 1rem; */
}
.main-sidebar{
    position: fixed;
    display: flex;
    min-height: 100%;
    padding-inline: 1rem;       
    width: 4.5rem;
    background-color: var(--nav-sry--bg-color);
    left: 0;
    color: var(--nav-color);
    justify-content: center;
    align-items: center;
}