:root{
  --main-bg-color: rgb(250, 250, 250);
  --sry-btn-bg-color: rgb(225, 0, 120);
  --nav-sry--bg-color: rgb(10 34 51); 
  --nav-color:rgb(61 176 247);
}
* {
    /* background-color: var(--main-bg-color); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
  }
  
  .english{
    font-family: 'Roboto', sans-serif;
  }

