.provider-home-main{
    background-color: rgb(182, 252, 229);
    padding: 100px;
}



.inner-container{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 20px;
     flex-wrap: wrap;
}