.provider-home-main{
    padding: 4rem;
    color: #808080;
    display: flex;
    gap: 2rem;
    justify-content: center;

}

.provider-home-main__headers{
    margin-bottom: 3rem;
    border-inline-end:1px solid black ;
    /* margin-inline-start: 2rem; */
    padding-inline-end:2rem ;
    display: flex;
    align-items: center;
}


.inner-container{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    margin-top: 20px;
     flex-wrap: wrap;
}

.search-form{
    padding-top:5rem ; 
    padding-inline: 8rem;
}
.search-form__inputs{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    /* grid-template-columns: repeat(4, minmax(100px,1fr)); */
    padding: 1rem;
    padding-bottom: 3rem;

}
.form-input--group{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 800px){
    .provider-home-main{
        padding: 2rem;
        color: #808080;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    .provider-home-main__headers{
        margin-bottom: 1rem;
        border-inline-end:none ;
        padding-inline-end:2rem ;
        display: flex;
        align-items: center;
    }
}