<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="One place that holds the patient records">
    <link rel="stylesheet" href="static/styles.css" />
    <title>Health records in one place by oneSystem</title>
</head>
<body>
    <section class="home-sec intro"></section>
    <section class="home-sec features"></section>
    <section class="home-sec prices"></section>

    {% include "footer.html" %}
</body>
</html>